<div class="container position-relative" style="height:800px ;">
    
        <div class="row position-absolute top-50 start-50 translate-middle" style="width:800px;">
          <div class="col"><a href="addbook/" class="btn btn-success" style="width:150px ;">ADD BOOK</a></div>|
          <div class="col"><a href="viewbook/" class="btn btn-primary" style="width:150px ;">VIEW BOOK</a></div>|
          <div class="col"><a href="viewbook/" class="btn btn-warning" style="width:150px ;">UPDATE BOOK</a></div>|
          <div class="col"><a href="viewbook/" class="btn btn-danger" style="width:150px ;">DELETE BOOK</a></div>
        </div>
      
</div>
